<h1><%= @user.name %></h1>

<h2>Assignments</h2>

<table>
  <th>
    <td>Name</td>
  </th>
  <% @user.assigned_projects.each do |project| %>
    <tr>
      <td>
        <%= project.name %>
      </td>
    </tr>
  <% end %>
</table>
